@using Microsoft.AspNetCore.Identity
@using BookStore.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        bool isAdmin = currentUser != null && await UserManager.IsInRoleAsync(currentUser, "Admin");
        bool isCustomer = currentUser != null && await UserManager.IsInRoleAsync(currentUser, "Customer");
        if (isAdmin)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Content Managment
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                    </li>
                </ul>
            </li>
        }
        else if (isCustomer)
        {
            <a class="nav-link text-light" asp-area="Customer" asp-controller="Cart" asp-action="Index" role="button">
                <i class="fa-solid fa-cart-shopping"></i> MyCart
            </a>
        }
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-header"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hello @UserManager.GetUserName(User)!
            </a>
           
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark"
                       asp-area="Customer"
                       asp-controller="Profile"
                       asp-action="Index">
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark"
                       asp-area="Customer"
                       asp-controller="Cart"
                       asp-action="OrderHistory">
                        Order History
                    </a>
                </li>
            </ul>
            
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline"
                  asp-area="Identity"
                  asp-controller="Account"
                  asp-action="LogOut">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light border-0 ">Logout</button>
            </form>
        </li>
    }
    else
    {
        <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-action="Index" role="button">
            cart
        </a>
        <li class="nav-item">
            <a class="nav-link text-light" id="register"
               asp-area="Identity"
               asp-controller="Account"
               asp-action="Register">
                Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" id="login"
               asp-area="Identity"
               asp-controller="Account"
               asp-action="LogIn">
                Login
            </a>
        </li>
    }
</ul>
